@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<iframe src="https://calendar.google.com/calendar/embed?src=648p23r8ifsoaf2ucl3o613eho%40group.calendar.google.com&ctz=Europe%2FCopenhagen" style="border: 0" width="1200" height="600" frameborder="0" scrolling="no"></iframe>

<p>Use this area to provide additional information.</p>
